body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: rgb(142, 191, 236);
  color: rgb(31, 7, 29);
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #062447;
  padding: 10px;
  text-align: center;

  position: sticky;
  top: 0;
}

nav a {
  color: rgb(202, 209, 247);
  text-decoration: none;
  margin: 0 15px;

  display: inline-block;
}

nav a:hover {
  color: white;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;

  background-color: white;
  border-radius: 10px;
}

img {
  width: 300px;
  height: auto;

  margin-top: 10px;
  border-radius: 10px;
}

video,
iframe {
  width: 400px;
  height: 400px;

  margin-top: 15px;
  border-radius: 10px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

footer {
  background-color: #062447;
  color: azure;
  text-align: center;
  padding: 15px;
}
form {
  width: 60%;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

textarea {
  height: 100px;
}

button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
}
